.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.columns {
  display: flex;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.level,
.level-left,
.level-right,
.level-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-left {
  justify-content: flex-start;
}

.level-right {
  justify-content: flex-end;
}

.level-item {
  justify-content: center;
}

.min-height-90 {
  min-height: 90vh;
}
